PORT=3000

MONGODB_URI=mongodb+srv://USUARIO:PASSWORD@CLUSTER.mongodb.net/mercapp?retryWrites=true&w=majority&appName=mercapp

FRONTEND_URL=http://localhost:5173
LOCAL_PREVIEW_URL=http://localhost:4173
NETLIFY_URL=https://mercapp-carrito.netlify.app